<!DOCTYPE html>
<html>
<head>
  <title>Гнучкий онлайн магазин</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Гнучкий онлайн магазин" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="http://www....">Головна</a></li>
        <li><a href="http://www..../faq">Запитання</a></li>
        <li><a href="http://www..../news">Новини</a></li>
        <li><a href="http://www..../contact">Контакти</a></li>
        <li><p><%= date_loaded %></p></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
